
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/IntroChemPython.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/other.xml
__pycache__/balancedkfold.cpython-38.pyc
.ipynb_checkpoints/full_code_notebook-checkpoint.ipynb
